<% for(comment of commentPrd) { %>
    <div class="reviewer">
        <%= comment.full_name %> - <span><%=comment.createdAt.toLocaleString('vi-VN')%></span></div>
    <div class="ratting">
        <% if(comment.rating >= 1) {  %> <i class="fa fa-star"></i>
            <% } %>
                <% if(comment.rating >= 2) {  %> <i class="fa fa-star"></i>
                    <% } %>
                        <% if(comment.rating >= 3) {  %> <i class="fa fa-star"></i>
                            <% } %>
                                <% if(comment.rating >= 4) {  %> <i class="fa fa-star"></i>
                                    <% } %>
                                        <% if(comment.rating >= 5) {  %> <i class="fa fa-star"></i>
                                            <% } %>
    </div>
    <p>
        <%=comment.body%>
    </p>
    <% } %>
</div>

    
